* {
    font-family: Comic Sands MS;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.headerFragment {
    text-align: center;
}

.footerFragment {
    text-align: center;
}