* {
    font-family: Comic Sans MS;
    background-color: black;
    color: white;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.headerFragment {
    text-align: center;
    margin: 30px;
}

.footerFragment {
    text-align: center;
    margin: 30px;
}

section {
    margin: 30px;
    text-align: center;
}