<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <div th:replace="fragments/header :: headerFragment"></div>
    <h1>Welcome <span th:text="${loggedInUser.username}"></span>, to the User Details</h1>
    <ul>
        <ul>
            <li th:each="user : ${users}">
                Username: <span th:text="${user.username}"></span><br>
                First Name: <span th:text="${user.firstName}"></span><br>
                Last Name: <span th:text="${user.lastName}"></span><br>
                Date of Birth: <span th:text="${user.dateOfBirth}"></span><br>
                Bio: <span th:text="${user.bio}"></span><br>
            </li>
        </ul>
    </ul>
</body>
</html>