<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<heading></heading>
<div th:replace="fragments/header :: headerFragment"></div>
    <!--<h3><a th:href="@{/logout}">Logout</a></h3>-->
    <h1>Welcome <span th:text="${user.username}"></span></h1>

    <h3><a th:href="@{/create/post}">Create Post</a></h3>
    <h4>Posts</h4>
    <ul>
        <li th:each="post : ${user.posts}">
            <span th:text="${post.body}"></span>
        </li>
    </ul>
</body>
</html>