<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST" class="pure-form pure-form-stacked">
        <input type="text" name="userName" id="userName" required placeholder="User Name"><br>
        <input type="password" name="password" id="password" required placeholder="Password"><br>
        <input type="text" name="firstName" id="firstName" required placeholder="First Name"><br>
        <input type="text" name="lastName" id="lastName" required placeholder="Last Name"><br>
        <input type="text" name="dateOfBirth" id="dateOfBirth" required placeholder="Date of Birth"><br>
        <input type="text" name="bio" id="bio" placeholder="Biography" ></input><br>
        <input type="submit">
    </form>
    <a th:href="@{/login}">Login</a>
</body>
</html>