<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
    <div th:replace="fragments/header :: headerFragment"  ></div>
    <h1>Welcome, <span th:text="${loggedInUser.username}"></span>, to all Users</h1>
    <img src="/cf-logo-shield.png" alt="code fellows shield">

    <table class="pure-table pure-table-bordered">
        <thead>
        <th>Username</th>
        <th>Details</th>
        <th>Status</th>
        </thead>
        <tr th:each="user : ${loggedInUser.friends}">
            <td><span th:text="${user.username}"></span></td>
            <td><a th:href="@{'/details/' + ${user.id}}">Details</a></td>
            <td>
                Friend
                <!--<form th:action="'/unfollow/' + ${user.id}" method="POST"><input type="submit" value="Un-Follow"></form>-->
            </td>
        </tr>
    </table>

    <hr>

    <table class="pure-table pure-table-bordered">
        <thead>
            <th>Username</th>
            <th>Details</th>
            <th>Follow</th>
        </thead>
        <tr th:each="user : ${possibleFriends}">
            <td><span th:text="${user.username}"></span></td>
            <td><a th:href="@{'/details/' + ${user.id}}">Details</a></td>
            <td>
                <form th:action="'/follow/' + ${user.id}" method="POST"><input type="submit" value="Follow"></form>
            </td>
        </tr>
    </table>
    <div th:replace="fragments/footer :: footerFragment" class="pure-menu pure-menu-horizontal"></div>
</body>
</html>